body {
  margin: 0;
  padding: 0;
  font-family: Mukta, sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: bitter, serif;
  font-weight: 500;
}

h1 {
  font-size: 80px;
  font-weight: 400;
  letter-spacing: -1.5px;
}

h2 {
  font-size: 50px;
  letter-spacing: -0.5px;
}

h3 {
  font-size: 38px;
  letter-spacing: 0;
}

h4 {
  font-size: 30px;
  letter-spacing: 0.25px;
}

h5 {
  font-size: 24px;
  letter-spacing: 0.25px;
}

h6 {
  font-size: 20px;
  letter-spacing: 0;
}

code {
  color: #e95400;
  font-weight: bold;
}

/* Header */

.hero {
    /* 讓 hero 佔滿使用者畫面 */
  height: 100vh;
  color: whitesmoke;
  background-color: #6b33b9;
  text-align: center;

  /* 使用 flexbox 達到水平與垂直置中的效果 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero h1,
.hero p {
  margin: 16px 0;
  width: 75%;
  max-width: 900px;
}

.hero hr {
  width: 70%;
  margin: 32px 0;
}

/* Main section */

.content {
  /* 避免內容橫跨整個畫面，最大寬度設定在900px */
  max-width: 900px;
  /* 水平置中 */
  margin: 0 auto;
  /* 確保畫面縮到小於mix-width時，內容兩側還留有空間 */
  padding: 32px;
}

.content h3 {
  text-transform: capitalize;
}

.info {
  font-family: Mukta, sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.info span {
  color: #e95400;
}

.headline {
  margin: 40px 0;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0;
  font-size: 18px;
}

blockquote {
  border-left: 2px solid #e95400;
  padding-left: 16px;
  font-size: 14px;
  margin: 32px 0 32px 32px;
}

blockquote p {
  font-style: italic;
}

blockquote cite {
  display: block;
  margin-left: 20px;
  font-weight: bold;
}

/* Footer */
footer {
  background-color: #6b33b9;
}

footer ul {
  margin: 0 auto;
  padding: 20px 0;
  list-style: none;
  text-align: center;
}

footer ul li {
  display: inline;
}

footer li a {
  color: white;
  margin: 15px;
  text-decoration: none;
}

footer li a:hover {
  text-decoration: underline;
}
